body {
  background-color: #355E3B;
  font-family: Didot;
  text-align: center;
}

div {
  border: 5px solid #FFFFFF;
  display: inline-block;
}

img {
  border-radius: 50%;
  border: 10px solid #5C4033;
}

.inspiration {
  background-color: #F5C71A;
  height: 500px;
  width: 700px;
  display: inline-block;
}

#title {
  font-size: 50px;
  background-color: #191970;
  color: #F5C71A;
  margin: auto;
  padding: 10px;
}

.palette {
  background-color: lightgrey;
  width: 800px;
}

.dot {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}

.dot.one {
  background-color: #5C4033;
}

.dot.two {
  background-color: #FFFFFF;
}

.dot.three {
  background-color: #355E3B;
}

.dot.four {
  background-color: #F5C71A;
}

.dot.five {
  background-color: #191970;
}

.square {
  height: 100px;
  width: 100px;
  background-color: #191970
  display: inline-block;
}
